* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Iosevka Charon";
}

header {
    display: flex;
    flex-direction: column;
    background-color: #3C2D20;
    height: 200px;
}

#search {
    padding: 20px;
    width: 100%;
    padding-left: 45px;
    margin-right: 15px;
    background-color: #895727;
    border-color: #d37d2c;
}

#search::placeholder {
    color: #c8b099;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#search-icon {
    position: relative;
    left: 30px;
    align-self: center;
    color: #d97e2f;
    padding-left: 10px;
}

/* 📱 MOBILE FIRST (base = celular) */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.logo-img {
    width: 80px;
    transform: scale(2);
}

.logo {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.login,
.menu {
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
}

.login {
    font-size: 20px;
}

.menu {
    font-size: 30px;
}

.separador {
    display: none;
}

.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#icon-person {
    font-size: 25px;
    color: white;
}

/* 💻 TABLET / DESKTOP */
@media (min-width: 1024px) {

    header {
        height: 140px;
        background-color: #ded1bf;
    }

    #search {
        font-size: 15px;
        max-width: 60%;
        width: 100%;
        border-radius: 100px;
        background-color: #d6975a;
    }

    .login:hover {
        background-color: #d97e2f;
    }

    #search::placeholder {
        color: #f6e0cc;
    }

    #search-icon {
        color: #d97e2f;
    }

    .nav-buttons {
        gap: 50px;
    }

    .logo-img {
        width: 80px;
        transform: scale(1);
    }

    .logo {
        width: 150px;
        transform: scale(1);
    }

    .menu {
        font-size: 50px;
    }

    .login {
        font-size: 30px;
    }

    .search-bar {
        position: relative;
        bottom: 120px;
    }

    .separador {
        height: 40px;
        background-color: #3C2D20;
        display: block;
    }

    .loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

}